.receipt-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: var(--primaryBackground);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.orange-header {
    text-align: center;
    margin-bottom: 25px;
    color: var(--primaryWhite);
    width: 75%;
}

.receipt-title {
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
    color: var(--primaryWebText);
    width: 50%;
    font-style: normal;
    font-size: 20px;
}

.receipt-total-amount {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
    color: var(--primaryWebText);
    width: 40%;
    font-style: normal;
    font-size: 20px;
    text-align: right;
}

.header-icon {
    display: block;
    width: 100%;
    filter: brightness(0) invert(1);
}

.add-icon {
    display: block;
    width: 100%;
}

.add-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    transform: translate(285%, 0%);
}

.header-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.expand-icon {
    display: block;
    width: 100%;
}

.expand-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.expand-box{    
    max-width: 700px;
    position: relative;
    width: 100%;
    height: 1.2vh;
    background-color: var(--primaryWebText);
    z-index: 9999;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
}

.expand-box:hover{
    cursor: row-resize;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.header-box {
    margin: auto;
    max-width: 700px;
    position: relative;
    width: 100%;
    height: 7vh;
    background-color: var(--primaryOrange);
    z-index: 9999;
    display: flex;
    align-items: center;
    color: var(--primaryWhite);
    font-size: 18px;
    font-weight: bold;
}

.receipt-image-container {
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.receipt-image {
    display: block;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5 5 0 0;
    transition: transform 0.3s ease;
}

.receipt-image-container.expanded .receipt-image {
    max-height: none;
}

.expand-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.receipt-image-container:hover .expand-icon {
    opacity: 1;
}

.receipt-items-holder{
    display: inline-box;
    overflow-y: scroll;
    max-height: 700px;
    background-color: var(--primaryWhite);
    border-radius: 15px;
    margin-bottom: 10px;
}

.receipt-items {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

.receipt-items li {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

.receipt-items input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.receipt-items input:last-child {
    margin-right: 0;
}

.horizontal-line {
    border: none;
    border-top: 3px solid var(--primaryBackground);
    margin: 10px 0;
}

.receipt-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.share-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: var(--primaryOrange);
    color: var(--primaryWhite);
    border: none;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.share-button:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .receipt-container {
        padding: 10px;
    }

    .receipt-image {
        max-height: 150px;
    }

    .receipt-items li {
        flex-wrap: nowrap;
        margin-right: 0 5px;
    }

    .receipt-items input {
        flex: 1;
    }

    .receipt-total {
        flex-direction: column;
        align-items: flex-start;
    }

    .total-label {
        margin-bottom: 5px;
    }
}

.receipt-items .valid {
    border-style: solid;
    border-width: 2px;
    border-color: var(--primaryOrange);
    border-radius: 10px;
    padding: 3px;
}

.receipt-items .invalid {
    border-style: solid;
    border-width: 2px;
    border-color: var(--minus);
    border-radius: 10px;
    padding: 3px;
}

li input {
   width: 1cm; 
   margin: 0 5px !important
}

li {
    padding: 20px 10px !important;
}

.receipt-footer {
    overflow:auto; 
    margin: 0 auto;
}

