:root {
  --primaryOrange: #FF6200;
  --primaryWhite: #FFFFFF;
  --primaryBackground: #F0F0F0;
  --primaryWebText: #333333;
  --secondaryIndigo: #525199;
  --regularWebText: #696969;
  --minus: #D70000;
  --plus: #349651;
}